<div class="flex items-center space-x-1 px-3 py-1.5 rounded border shadow-sm inline-block
    {% if entry.status == 'watched' %} bg-blue-50 text-blue-700 border-blue-200 
    {% else %} bg-gray-50 text-gray-700 border-gray-200 {% endif %}">
    
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
    </svg>
    <span class="text-sm font-medium">
        {% if entry.status == 'watched' %}
            Added to Watched
        {% else %}
            Added to Watchlist
        {% endif %}
    </span>
</div>
